.site-header {
    background: #3F51B5;
    color: #FFF;
    padding: 10px 5%;
    box-shadow: 0 1px 3px #999;
}

.site-header h1 {
    margin: 0;
    font-size: 20px;
}

.intro-text {
    font-size: 18px;
}

.part-two {
    color: purple;
}
